on init

    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    write /dev/nand_char "CMD_INSTALL_PARTITION:ALL"

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    mount debugfs none /sys/kernel/debug mode=0755,gid=1000

on fs
    mount ext4 /dev/block/platform/jzmmc_v1.2.0/by-name/system /system ro
    exec /system/bin/setup_fs mmcblk0p8 mmcblk0p6
    mount_all /fstab.watch
    setprop ro.crypto.fuse_sdcard true

on post-fs-data
#set bcm4330 bt mac cfg
    chmod 0777 /data/misc/bluetooth/
    exec /system/bin/create_btaddr
    exec /system/bin/create_wifiaddr
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    # enable battery driver
	exec /system/bin/batt_uboot_charging_stat
	start delay_sleep

#change perms of dhcp and wifi socket
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/wifi/sockets 0777 wifi wifi
    mkdir /data/system 1775 system system

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # If there is no fs-post-data action in the init.<device>.rc file, you
    # must uncomment this line, otherwise encrypted filesystems
    # won't work.
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # turn on remote debugging port 5555
    setprop service.adb.tcp.port 5555

    # disable idlemaintenance server and clean appwidgetserver alarm
    setprop ro.idlemaintenance.disable true
    setprop ro.appwidgetserver.disable true

    # Set this property so motioneyes is started by system_init
    #setprop system_init.startsensorservice 1
    setprop system_init.startmotioneyes 1

    # disable app screenshot for activity stack
    setprop ro.enableAppScreenshot 0

on boot
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/class/backlight/pwm-backlight.0/brightness


    chown system system /sys/class/huami/sensor_hub/iio/buffer/enable
    chmod 0666 /sys/class/huami/sensor_hub/iio/buffer/enable

    chown system system /sys/class/huami/sensor_hub/iio/buffer/length
    chmod 0666 /sys/class/huami/sensor_hub/iio/buffer/length

    chown system system /sys/class/huami/sensor_hub/iio/trigger/current_trigger
    chmod 0666 /sys/class/huami/sensor_hub/iio/trigger/current_trigger

#NFC
    chmod 0660 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
#NFC create data/nfc for nv storage
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc

## Daemon processes to be run by init.
service logwatch /system/bin/logwatch
    class main
    oneshot

service gpsd /system/bin/gpsd --agps=/sdcard/.agps/agps_data  --daemon
    class main
    user root
    group root


#================= BCM
#wpa_supplicant control socket for android wifi.c
    setprop wifi.interface wlan0

service setup_fs /system/bin/setup_fs mmcblk0p8 mmcblk0p6
    class core
    user root
    group root
    disabled
    oneshot

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

service wpa_supplicant /system/bin/wpa_supplicant \
     -g@android:wpa_wlan0 \
     -iwlan0 -Dnl80211 \
     -O/data/misc/wifi/sockets \
     -c/data/misc/wifi/wpa_supplicant.conf \
     -e/data/misc/wifi/entropy.bin
     class main
     socket wpa_wlan0 dgram 660 wifi wifi
     disabled
     oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
	 class main
	 disabled
	 oneshot

#================= BCM
# add dhcpcd and wpa_supplicant services for wlan0
service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service dhcpcd_eth0 /system/bin/dhcpcd -o domain_name_servers -ABKL
    disabled
    oneshot

#service dbus /system/bin/dbus-daemon --system --nofork
#    class main
#    socket dbus stream 660 bluetooth bluetooth
#    user bluetooth
#    group bluetooth net_bt_admin

#for wlan iprenew
service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

#for p2p iprenew
#service iprenew_p2p /system/bin/dhcpcd -n
#      class main
#      disabled
#      oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
	 class main
	 disabled
	 oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
	 class main
	 disabled
	 oneshot

# load bt_firmware_adp
service hardware_adapter /system/bin/sh /sbin/script/hardware_adapter.sh
    class core
    user root
    group root
    oneshot

# load serial numbers from misc partition
service serial_numbers /system/bin/sh /sbin/script/serial_numbers.sh
    class core
    user root
    group root
    oneshot
    disabled

service delay_sleep /system/bin/pcba_test --sleep
    disabled
    oneshot

on property:ro.factorytest=1
	start hardware_adapter

on property:init.svc.hardware_adapter=stopped
    start serial_numbers

on property:init.svc.serial_numbers=stopped
#set serialno and factory serialno
	chmod 0777 /data/misc/sn/
	exec /system/bin/create_serial_numbers
	exec /system/bin/create_serial_numbers_factory

on property:sys.boot_completed=1
    exec /system/bin/slpt set_timezone --ignore_dsttime --use_secs

on property:persist.sys.timezone=*
    exec /system/bin/slpt set_timezone --ignore_dsttime --use_secs

# for voice wakeup service.
service voicewakeup /system/bin/sh /system/bin/voicewakeup
	class main
	user system
	disabled
	onrestart zygote
on property:sys.boot_completed=1
	start voicewakeup
on property:ro.factorytest=2
	start hardware_adapter
